<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{title}}</h1>
            <p>Carcinoma is the most common type of cancer. It begins in the epithelial tissue
                of the skin, or in the tissue that lines the internal organs, such as the liver or kidneys.
                <br/><br/>
                Carcinomas may spread to other parts of the body, or be confined to the primary location:    
            </p>
            <h2 >Basic Types of Carcinoma cancer</h2>
            <h3>Basal cell carcinoma</h3>
            <p>The most common type of skin cancer. Cancerous cells develop within the basal cell 
                layer of the skin, or the lowest part of the epidermis. Basal cell cancers usually 
                grow slowly, and it is rare for them to spread, or metastasize, to nearby lymph nodes 
                or even more distant parts of the body.
            </p>
            <h3>
                Squamous cell carcinoma 
            </h3>  
            <p>
                The second most common type of skin cancer. Cancerous cells develop from the flat, 
                squamous cells that are the primary cell type making up the outermost layer of the 
                skin, the epidermis. Squamous cell cancers usually grow slowly, and it is uncommon 
                for them to spread, or metastasize, but they are more likely than basal cell carcinomas 
                to invade fatty tissue beneath the skin or to spread even further.
            </p>
            <h3>
                Renal cell carcinoma (RCC)
            </h3> 
            <p>
                The most common type of kidney cancer. The cancerous cells typically develop in the lining 
                of very small tubes in the kidney, called tubules. Over time, these cells may grow into a mass
                and cause an obstruction. The cancer may form in one or both of the kidneys.
            </p>
            <h3>
                Ductal carcinoma in situ (DCIS)
            </h3>
            <p>
                The most common type of breast cancer. Cancerous cells are confined within the lining of the milk ducts,
                and haven't spread through the duct walls into surrounding breast tissue.
            </p>
            <h3>
                Invasive ductal carcinoma
            </h3>
            <p>
                Cancerous cells grow in the duct lining, break through the wall of the duct and invade local breast tissue. 
                From there, the cancer may spread (metastasize) to other parts of the body.
            </p>
            <h2>
                Carcinoma treatment & therapy options
            </h2>
            <p>Treatment for carcinoma varies depending on the type, location and extent of the disease, but may include</p>
            <h3>
                Surgery 
            </h3>
            <p>
                Depending on the type of cancer, carcinoma may be treated with surgical removal of cancerous tissue, as well as
                some surrounding tissue. Minimally invasive surgical treatment methods can help to reduce healing time and minimize 
                the risk of infection after surgery.
            </p>
            <h3>
                Radiation therapy
            </h3>
            <p>Radiation therapy may be used in combination with surgery and/or chemotherapy. Advanced radiation therapies make use of 
                image guidance before and during treatment to target tumors, while sparing healthy tissues and surrounding organs.
            </p>
            <h3>
                Chemotherapy 
            </h3>
            <p>
                Chemotherapy treats carcinoma with drugs that destroy cancer cells, either throughout the whole body, or in a specific area. 
                In some cases, chemotherapy may be used in combination with other treatments, such as radiation therapy or surgery.
            </p>

        </div>
        <div class="col-sm-4">
            <h1>Cancer photos</h1>
            <div class="text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMThyKUCc9B4JKiQ9KLVe9BeXWFzH3kmSLDMrSInGuuOpw2Cks" class="rounded " alt="https://trucosdecasa.com/wp-content/uploads/2017/10/a2-4.jpg">
                <img src="http://www.positivechoices.com/sites/www.positivechoices.com/files/imagecache/blog_image/posts/iStock_000016216257XSmall.jpg" class="rounded " alt="https://www.planetesante.ch/var/ezdemo_site/storage/images/media/images/01-images-articles/reperer_reservoirs_vih/618569-1-fre-CH/reperer_reservoirs_VIH.jpg">
            </div>
        </div>
    </div>
</div>