<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cassiopeia</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
            <li><a ui-sref="carcinoma" ui-sref-active="active">Carcinoma</a></li>
            <li><a ui-sref="leukemia" ui-sref-active="active">Leukemia</a></li>
            <li><a ui-sref="lymphoma" ui-sref-active="active">Lymphoma</a></li>
            <li><a ui-sref="melanoma" ui-sref-active="active">Melanoma</a></li>
            <li><a ui-sref="sarcoma" ui-sref-active="active">Sarcoma</a></li>
            <li><a ui-sref="form" ui-sref-active="active">Add Data</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>

</nav>